

/************** Typography **************/

@font-face {
    font-family: DolceVita;
    src: url(../../fonts/dolcevita.ttf);
}

@font-face {
    font-family: DolceVitaLight;
    src: url(../../fonts/dolcevitalight.ttf);
}

@font-face {
    font-family: DolceVitaBold;
    src: url(../../fonts/dolcevitabold.ttf);
}

h1 {
	font-family: DolceVita, "Lucida Console", "Courier New", monospace;
	letter-spacing: .05em;
}
